[Unit]
Description=GNSS ftpuploader service
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/home/gpsuser/ftpuploader
Environment="HOME=/home/gpsuser" "PERL5LIB=/home/gpsuser"

[Install]
WantedBy=multi-user.target
