[Unit]
Description=GNSS ftpuploader service (%NAME%)
After=network.target
After=mariadb.service

[Service]
Type=simple
Restart=on-failure
ExecStart=%INSTROOT%/sbin/ftpuploader
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
TimeoutStopSec=30
Environment="PERL5LIB=%INSTROOT%/lib"

[Install]
WantedBy=multi-user.target
