[Unit]
Description=GNSS ftpuploader service
After=network.target
After=mariadb.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/sbin/ftpuploader
Environment="PERL5LIB=/usr/local/lib/gnss"

[Install]
WantedBy=multi-user.target
