[Unit]
Description=GNSS gpspickup service
After=network.target
After=mariadb.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/sbin/gpspickup
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Environment="PERL5LIB=/usr/local/lib/gnss"

[Install]
WantedBy=multi-user.target
