[Unit]
Description=GNSS gpspickup service
After=network.target
After=mariadb.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/sbin/gpspickup
Environment="HOME=/home/gpsuser" "PERL5LIB=/usr/local/lib/gnss"

[Install]
WantedBy=multi-user.target
