[Unit]
Description=GNSS jobengine service (%NAME%)
After=network.target
After=mariadb.service

[Service]
Type=simple
Restart=on-failure
ExecStart=%INSTROOT%/sbin/jobengine
ExecStop=/bin/kill -TERM $MAINPID
TimeoutStopSec=30
Environment="PERL5LIB=%INSTROOT%/lib"

[Install]
WantedBy=multi-user.target
