[Unit]
Description=GNSS jobengine service
After=network.target
After=mariadb.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/sbin/jobengine
ExecStop=/bin/kill -TERM $MAINPID
TimeoutStopSec=30
Environment="PERL5LIB=/usr/local/lib/gnss"

[Install]
WantedBy=multi-user.target
